<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
</head>
<body>
    <h1>Verify OTP</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="otp" placeholder="Enter OTP" required><br><br>
        {% comment %} <input type="text" name="username" placeholder="Username" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br> {% endcomment %}
        <button type="submit">Verify OTP</button>
    </form>
    
    {% if error %}
        <p>{{error}}</p>
        <a href={% url "register" %}>Return Back to Register Page</a>
    {% endif %}

</body>
</html>
